{% extends 'base.html' %}
{% load static %}
{% load jalali_tags %}
{% block content %}

    <section class="hero-carousel">
        <div class="container-xl">
            <div class="post-carousel-lg">
                <!-- post -->
                <div class="post featured-post-xl">
                    <div class="details clearfix">
                        <a href="category.html" class="category-badge lg">سبک زندگی</a>
                        <h4 class="post-title"><a href="blog-single.html">9 مورد از شگفت انگیزترین دریاچه آبی با کوه برفی</a></h4>
                        <ul class="meta list-inline mb-0">
                            <li class="list-inline-item"><a href="#">کاتن</a></li>
                            <li class="list-inline-item">30 اردیبهشت 1401</li>
                        </ul>
                    </div>
                    <a href="blog-single.html">
                        <div class="thumb rounded">
                            <div class="inner data-bg-image" data-bg-image="{% static 'assets/images/posts/featured-xl-1.jpg' %}"></div>
                        </div>
                    </a>
                </div>
                <!-- post -->
                <div class="post featured-post-xl">
                    <div class="details clearfix">
                        <a href="category.html" class="category-badge lg">فرهنگ</a>
                        <h4 class="post-title"><a href="blog-single.html">نکته مهمی که باید در مورد شنا بدانید</a></h4>
                        <ul class="meta list-inline mb-0">
                            <li class="list-inline-item"><a href="#">کاتن</a></li>
                            <li class="list-inline-item">30 اردیبهشت 1401</li>
                        </ul>
                    </div>
                    <a href="blog-single.html">
                        <div class="thumb rounded">
                            <div class="inner data-bg-image" data-bg-image="{% static 'assets/images/posts/featured-xl-2.jpg' %}"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

	<!-- section main content -->
	<section class="main-content">
		<div class="container-xl">

			<div class="row gy-4">
				<div class="col-lg-8">

					{% for blog in blogs %}

					<!-- blog -->
					<div class="post post-classic rounded bordered">
						<div class="thumb top-rounded">
							<span class="post-format">
								<i class="icon-picture"></i>
							</span>
							<a href="{% url 'home:index' %}">
								<div class="inner">
									<img src="{{ blog.image.url }}" alt="post-title" />
								</div>
							</a>
						</div>
						<div class="details">
							<ul class="meta list-inline mb-0">
								<li class="list-inline-item"> در تاریخ {{ blog.updated | to_jalali:'%y/%m/%d' }}</li>
								<li class="list-inline-item"><i class="icon-bubble"></i> (0)</li>
							</ul>
							<h5 class="post-title mb-3 mt-3"><a href="blog-single.html">{{ blog.title }}</a></h5>
							<p class="excerpt mb-0">{{ blog.body | safe | truncatewords:30 }}</p>
						</div>
						<div class="post-bottom clearfix d-flex align-items-center">
							<div class="social-share me-auto">
								<button class="toggle-button icon-share"></button>
								
							</div>
							<div class="float-end d-none d-md-block">
								<a href="blog-single.html" class="more-link">ادامه مطلب<i class="icon-arrow-left"></i></a>
							</div>
							<div class="more-button d-block d-md-none float-end">
								<a href="blog-single.html"><span class="icon-options"></span></a>
							</div>
						</div>
					</div>

					{% endfor %}
					{% if blogs.has_other_pages %}
					<nav>
						<ul class="pagination justify-content-center">
							{% for i in blogs.paginator.page_range %}
                                {% if blogs.number == i %}
								<li class="page-item active" aria-current="page">
									<span class="page-link">{{i}}</span>
								</li>
								{% else %}
								<li class="page-item"><a class="page-link" href="?page={{ i }}&{{checked}}">{{i}}</a></li>
								{% endif %}
                                {% endfor %}
						</ul>
					</nav>
					{% endif %}

				</div>

				<div class="col-lg-4">

					<!-- sidebar -->
					<div class="sidebar">
						<!-- widget about -->
						<div class="widget rounded">
							<div class="widget-about data-bg-image text-center" data-bg-image="images/map-bg.png">
								<p class="mb-4">سلام، ما ... </p>
								<ul class="social-icons list-unstyled list-inline mb-0">
									<li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="fab fa-telegram"></i></a></li>
								</ul>
							</div>
						</div>

						<!-- widget مطالب محبوب -->
						<div class="widget rounded">
							<div class="widget-header text-center">
								<h3 class="widget-title">مطالب محبوب</h3>
								<img src="{% static 'assets/images/wave.svg' %}" class="wave" alt="wave" />
							</div>
							<div class="widget-content">
								{% for blog in Lblogs %}
								<!-- post -->
								<div class="post post-list-sm circle">
									<div class="thumb circle">
										<span class="number">{{ blog.id }}</span>
										<a href="blog-single.html">
											<div class="inner">
												<img src="{{ blog.image.url }}" alt="{{ blog.title }}" />
											</div>
										</a>
									</div>
									<div class="details clearfix">
										<h6 class="post-title my-0"><a href="blog-single.html">{{ blog.title }}</a></h6>
										<ul class="meta list-inline mt-1 mb-0">
											<li class="list-inline-item">{{ blog.updated | to_jalali:'%y/%m/%d _ %H:%M:%S' }}</li>
										</ul>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>

						

						<!-- widget newsletter -->
						<div class="widget rounded">
							<div class="widget-header text-center">
								<h3 class="widget-title">خبرنامه</h3>
								<img src="{% static 'assets/images/wave.svg' %}" class="wave" alt="wave" />
							</div>
							<div class="widget-content">
								<span class="newsletter-headline text-center mb-3">به 70,000 مشترک ما بپیوندید!</span>
								<form>
									<div class="mb-2">
										<input class="form-control w-100 text-center" placeholder="ایمیل خود را بنویسید ..." type="email">
									</div>
									<button class="btn btn-default btn-full" type="submit">ثبت نام</button>
								</form>
								<span class="newsletter-privacy text-center mt-3">با ثبت نام، با <a href="#">سیاست حفظ حریم خصوصی ما</a> موافقت می کنید</span>
							</div>
						</div>

					
						<!-- widget advertisement -->
						<div class="widget no-container rounded text-md-center">
							<span class="ads-title">- تبلیغات -</span>
							<a href="#" class="widget-ads">
								<img src="{% static 'assets/images/ads/ad-360.png' %}" alt="Advertisement" />
							</a>
						</div>

					</div>

				</div>

			</div>

		</div>
	</section>
	
{% endblock %}