{% extends 'base.html' %}

{% block content %}

    <!-- page header -->
    <section class="page-header">
        <div class="container-xl">
            <div class="text-center">
                <h1 class="mt-0 mb-2">ورود</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item"><a href="/">صفحه اصلی</a></li>
                        <li class="breadcrumb-item active" aria-current="page">ورود</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>

<section class="main-content">
    <div class="container-xl">

    <!-- widget newsletter -->
    <div class="widget rounded">
        <div class="widget-header text-center">
        </div>
        <div class="widget-content">
            <form method="post">
                <div class="mb-2">
                    <input class="form-control w-100 text-center" placeholder="شماره موبایل خود را وارد کنید ..." type="text" name="phone_number" id="phone_number">
                    <br>
                    <input class="form-control w-100 text-center" placeholder=" رمز خود را وارد کنید ..." type="password" name="password" id="password">
                    <br>
                </div>
                <button class="btn btn-default btn-full" type="submit">ورود</button>
            </form>
            
            <span class="newsletter-privacy text-center mt-3">هنوز حسابی ندارید؟ <a href="{% url 'account:user_register' %}">ثبت نام</a></span>
        </div>
    </div>

</div>
</section>


{% endblock %}