{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- page header -->
    <section class="page-header">
        <div class="container-xl">
            <div class="text-center">
                <h1 class="mt-0 mb-2">چارت آزمایشی</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item"><a href="/">صفحه اصلی</a></li>
                        <li class="breadcrumb-item active" aria-current="page">حمایت</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>

    <!-- Pie Chart -->
    <h1 class="text-center">Multi Series Pie Chart</h1>
    <div id="container" style="width: 75%;">
    <canvas id="pie-chart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@latest/dist/chartjs-plugin-datalabels.min.js"></script>

    <script>
    var ctx = document.getElementById('pie-chart').getContext('2d');

    // Assuming you have multiple datasets (labels and data arrays)
    var labels1 = ['Data 1 Set 1', 'Data 2 Set 1', 'Data 3 Set 1'];
    var data1 = [10, 20, 30];

    var labels2 = ['Data 1 Set 2', 'Data 2 Set 2', 'Data 3 Set 2'];
    var data2 = [25, 15, 40];

    var pieChart = new Chart(ctx, {
        type: 'pie',
        data: {
        labels: labels1.concat(labels2), // Combine labels for multiple series
        datasets: [{
            label: 'Series 1', // Optional label for the dataset
            data: data1,
            backgroundColor: [
            '#ff0000',
            '#0000ff',
            '#45e569'
            ],
            borderColor: [
            '#ff0000',
            '#0000ff',
            '#45e569'
            ],
            borderWidth: 1
        }, {
            label: 'Series 2', // Optional label for the dataset
            data: data2,
            backgroundColor: [
            '#f1c40f',
            '#e74c3c',
            '#9b59b6'
            ],
            borderColor: [
            '#f1c40f',
            '#e74c3c',
            '#9b59b6'
            ],
            borderWidth: 1
        }]
        },
        options: {
        responsive: true,
        plugins: {
            legend: {
            position: 'top'
            },
            title: {
            display: true,
            text: 'Multi Series Pie Chart'
            },
            datalabels: {} // Data labels plugin
        }
        }
    });
    </script>

    
{% endblock %}