{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- page header -->
    <section class="page-header">
        <div class="container-xl">
            <div class="text-center">
                <h1 class="mt-0 mb-2">چارت آزمایشی</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item"><a href="/">صفحه اصلی</a></li>
                        <li class="breadcrumb-item active" aria-current="page">حمایت</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>

    <!-- page content -->
    <div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">
      <div class="container-xl">
        <div class="table-responsive rounded">
          <table class="table table-hover border border-5">
            <tbody>
              {% for user in top_users %}
            <tr>
              <td colspan = '8' class="{% cycle 'bg-secondary' 'bg-dark' %} text-white text-center">
              <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom{{ forloop.counter }}" aria-controls="offcanvasBottom{{ forloop.counter }}">
                {{ user.full_name }}
                <h6 class="text-white">{{ user.percent|floatformat:5 }}%</h6>
                <div class="offcanvas offcanvas-bottom bg-success rounded shadow-sm" tabindex="-1" id="offcanvasBottom{{ forloop.counter }}" aria-labelledby="offcanvasBottomLabel{{ forloop.counter }}">
                <div class="offcanvas-title">
                  <h5 class="offcanvas-title text-white" id="offcanvasBottomLabel{{ forloop.counter }}">مقدار کمک به خیریه</h5>
                  <hr class="text-dark">
                  <h5 class="text-white text-decoration-underline"> مقدار کمک: {{ user.total_donations }}</h5>
                  <!-- <h6 class="text-white text-decoration-underline">درصد سهم: {{ user.percent|floatformat:5 }}%</h6> -->
                  <!-- <div class="time">5 hr</div> -->
                </div>
                </div>
              </button>
              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    


{% endblock %}